
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: #F5F7FA;
    
}

#main {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

#main-content {
    position: relative;
    padding-left: 90px;
    background-color: #FFFFFF;
    color:#000000
}

#main-content h4 span {
    color: #FB6D3A
}

#about {
    position: relative;
    margin-top: 110px;
}

#projects {
    position: relative;
    margin-top: 40px;
}

#projects a {
    color: #595959;
}

#work {
    position: relative;
    margin-top: 50px;
}

#education {
    position: relative;
    margin-top: 45px;
}

#sidebar {
    background-color: #1E2939;
    padding: 40px 0;
}

#sidebar img {
    position: relative;
    display: block;
    width: 370px;
    height: 354px;
}

.sidebar-blocks {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    color: #FFFFFF;
}

.sidebar-blocks h3 {
    font-size: 22px;
    line-height: 27px;
    margin: 0;
}

#contacts {
    position: relative;
    margin-top: 50px;
}

#contacts div {
    margin-top: 8px;
}

#contacts p {
    margin: 0;
}

#contacts span{
    font-weight: 700;
}

#contacts a {
    margin-left: 10px;
    opacity: 0.5;
    color: #FFFFFF;
    text-decoration: none;
}

#tech-skills {
    position: relative;
    margin-top: 40px;
}

#soft-skills {
    position: relative;
    margin-top: 40px;
}

.sidebar-blocks ul {
    margin-left: -40px;
}

.sidebar-blocks li {
    list-style-type: none;
}

.sidebar-blocks li:before {
    color: #FB6D3A;
    font-weight: 700;
    content: "•";
    padding-right: 10px;
}