
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: #F5F7FA;
    
}

#main {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    max-width: 1200px;
    background: linear-gradient(339deg, rgba(237,247,193,1) 22%, rgba(217,228,166,1) 46%, rgba(141,190,112,1) 94%);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Left Side */

#sidebar {
    
    /* background-color: #27261A; */
    background-color: rgba(0, 0, 0, 0.65);
    padding: 40px 0;
    width: 370px;
}

#sidebar img {
    position: relative;
    display: block;
    width: 370px;
}

.sidebar-blocks {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    color: #FFFFFF;
}

.sidebar-blocks h3 {
    font-size: 22px;
    line-height: 27px;
    margin: 0;
}

#contacts {
    position: relative;
    margin-top: 50px;
}

#contacts div {
    margin-top: 8px;
}

#contacts p {
    margin: 0;
}

#contacts span{
    font-weight: 700;
}

#contacts a {
    margin-left: 10px;
    opacity: 0.5;
    color: #FFFFFF;
}

#contacts a:hover {
    opacity: 1;
}

#contacts a[href^="tel:"] {
    text-decoration: none;
}

#tech-skills {
    position: relative;
    margin-top: 40px;
}

#soft-skills {
    position: relative;
    margin-top: 40px;
}

 
.sidebar-blocks ul {
    margin-left: -40px;
}

.sidebar-blocks li {
    list-style-type: none;
}

.sidebar-blocks li:before {
    color: #FB6D3A;
    font-weight: 700;
    content: "•";
    padding-right: 10px;
} 

/* Right Side */

#main-content {
    position: relative;
    padding-left: 90px;
    color:#000000;
}

#main-content h4 span {
    color: #FB6D3A
}

#about {
    position: relative;
    margin-top: 110px;
    max-width: 400px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

#about h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

#about h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

#projects {
    position: relative;
    margin-top: 40px;
    width: 485px;
}

#projects h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
}

#projects > ol {
    padding-left: 15px;
    font-weight: 700;
    flex-wrap: nowrap;
}

#projects > ol > li > div {
    display: flex;
    align-items: stretch;
}

#projects span.dashed-bottom-line {
    border-bottom: 1px dashed #A8A8A8;
    flex-grow: 1;
}

#projects div > div {
    
    display: inline-block;
    margin-left: auto;
}   

#projects span,a {
    font-weight: 400;
}

#projects a {
    color: #595959;
    margin-left: 10px;
}

#projects a:hover {
    color:#000000;
}

#work {
    position: relative;
    margin-top: 50px;
    width: 525px;
}

#work h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

#work h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

#work p {
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

#work p>span {
    color: #000000;
}

#work ul {
    padding-left: 12px;
    color:#595959;
}


#education {
    position: relative;
    margin-top: 45px;
    margin-bottom: 100px;
}

#education h3 {
    font-size: 22px;
    line-height: 27px;
    margin: 0;
}

#education h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

#education h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

#education p {
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

#education p>span {
    color: #000000;
}


